* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;

}


.perde {
    width: 801px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.742);
    background-color: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.perde h1 {
    letter-spacing: 10px;
    color: rgb(0, 0, 126);
    font-size: 35px;
}

.row {
    margin: 2px;
    display: flex;
    flex-direction: row;
}

.seat {
    width: 50px;
    height: 50px;
    background-color: rgb(72, 72, 72);
    border-radius: 8px;
    margin: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: antiquewhite;
}

.seat:nth-child(3) {
    margin-right: 50px;
}

.seat:nth-last-child(3) {
    margin-left: 50px;
}

.seat:hover {
    transform: scale(1.1);
    transition: 0.4s;
    background-color: rgba(255, 255, 0, 0.142);
    font-weight: 600;
}

.seat.selected {
    background-color: yellow;
    color: #000;
    font-weight: 700;
}

.seat.reserved {
    background-color: rgba(255, 0, 0, 0.82);
}


.durum {
    width: 150px;
    background-color: rgb(45, 45, 45);
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-left: auto;
    margin-right: auto;

}

.main {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

#secilenBox {
    background-color: yellow;
}

#bosBox {
    background-color: rgb(72, 72, 72);
}

#doluBox {
    background-color: rgba(255, 0, 0, 0.82);
}

.durum p {
    text-align: center;
    color: #fffffff3;
    font-size: 16px;
    margin-top: 7px;
}


.sonuc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

#gun {
    width: 360px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.1px;
    border-radius: 5px;
    background-color: #12013e59;
    color: #ffffffd2;
    border: none;
    cursor: pointer;
}

.text {
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 15px;
    border: 1px solid rgb(218, 165, 32);
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
}

.text strong {
    color: wheat;
    margin: 0 10px;
    font-weight: 600;
}


.payment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.payBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    background-color: rgba(255, 217, 0, 0.911);
    color: black;
    letter-spacing: 0.5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.594);

    /* Diğer stiller */
    transition: opacity 0.4s ease, visibility 0s 0.4s;
    opacity: 0.5;
    pointer-events: none;
}

.payBtn.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.4s ease, visibility 0s;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    background-color: rgba(255, 217, 0, 0.911);
    color: black;
    letter-spacing: 0.5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(128, 128, 128, 0.594);

}
